{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "TAPCLICKS",
    "description" : "\nThis is the first version of the API Specification for TapClicks.\n\n# AUTHENTICATION\nThe **TapClicks** API uses the OAuth 2.0 protocol for authentication and authorization (<a href=\"https://tools.ietf.org/html/rfc6749#section-4.4\">Client Credentials Grant</a>).<br>\nAll requests must be authenticated and must include a valid access token.",
    "termsOfService" : "https://www.tapclicks.com/terms-of-use/",
    "contact" : {
      "url" : "https://www.tapclicks.com/"
    },
    "version" : "0.1",
    "x-logo" : {
      "url" : "https://www.tapclicks.com/static-templates/img/tapclicks-logo-color.png",
      "backgroundColor" : "#283237"
    }
  },
  "servers" : [ {
    "url" : "https://api.tapclicks.com/v2"
  } ],
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "POSSIBLE RESPONSES",
    "description" : "**Possible Response Codes:**\n```\n> 200 - OK: The request was successful and the response body contains \n            the representation requested\n> 302 - FOUND: A common redirect response; you can GET the representation \n            at the URL in the Location response header\n> 304 - NOT MODIFIED: Your client's cached version of the representation \n            is still up to date\n> 400 - BAD REQUEST: The request could not be understood by the server \n            due to malformed syntax                    \n> 401 - UNAUTHORIZED: The supplied credentials, if any, are not sufficient \n            to access the resource\n> 404 - NOT FOUND: The server has not found anything matching the \n            Request-URI\n> 429 - TOO MANY REQUESTS: Your application is sending too many \n            simultaneous requests\n> 500 - SERVER ERROR: We couldn't return the representation due to \n            an internal server error\n> 503 - SERVICE UNAVAILABLE: We are temporarily unable to return \n            the representation. Please wait for a bit and try again.\n\n```\n"
  }, {
    "name" : "PAGINATION",
    "description" : "Pagination can be implemented with the query parameter `page`, which accepts two parameters.<br>\nThe first parameter represents which page is returned (starting from index = 0).<br>\nThe second parameter represents how many records each page contains and, therefore, the number of records that will be returned.\n\n**Examples&#58;**\n\n|URL                                                | Records returned|\n|---------------------------------------------------|-----------------|\n|https://api.tapclicks.com/v2/34/data/cgn?page=0,5  | returns the 5 records of page index 0 (records 1 -> 5) |\n|https://api.tapclicks.com/v2/34/data/cgn?page=1,5  | returns the 5 records of page index 1 (records 6 -> 10) |\n|https://api.tapclicks.com/v2/34/data/cgn?page=1,8  | returns the 8 records of page index 1 (records 9 -> 16) |\n|https://api.tapclicks.com/v2/34/data/cgn?page=2,6  | returns the 6 records of page index 2 (records 13 -> 18) |\n\n  \n"
  }, {
    "name" : "TAPCLICKS API",
    "description" : "Welcome to Tap API."
  }, {
    "name" : "BUSINESS UNITS",
    "description" : "Business Units are much like Client Groups except that a Business Units is managed by a Business Units Admin who has access similar to that of a Super Admin. These are often used if a company has multiple locations under which clients exist (e.g. franchises). As a Business Unit Admin you can manage a single Business Unit or a Group of Business Units."
  }, {
    "name" : "CHANNELS",
    "description" : "A way to bring in metrics from multiple data sources and show the performance of your campaign across these data sources."
  }, {
    "name" : "CLIENTS",
    "description" : "Clients in the instance."
  }, {
    "name" : "CLIENT'S CATEGORIES",
    "description" : "Refers to the categories that be assigned to a Client (For example&#58; Services, Automotive, Retailer, Restaurant...)."
  }, {
    "name" : "CLIENT GROUPS",
    "description" : "Client Groups allow you to group Clients together. This way you can grant an agent access to all of their reports. These groups can be used with Clients who have multiple locations that require individual reporting, but also require one person to have complete data access. You can also create groups of Client groups if the need is there."
  }, {
    "name" : "DATA PROFILES",
    "description" : "Data Profiles help you control the types of campaigns, data and metric you want each User to have access to."
  }, {
    "name" : "DATA TYPES",
    "description" : "All data types available for any field."
  }, {
    "name" : "DATE RANGE",
    "description" : "Date ranges allow you to focus on the data set you are concerned about or want to run a report for."
  }, {
    "name" : "LANGUAGES",
    "description" : "Supported languages."
  }, {
    "name" : "LEADS",
    "description" : "Only if the Leads Management module is active."
  }, {
    "name" : "ROLES",
    "description" : "Roles are used to control the access of Agents and Business Unit Admins. If the TapOrders module is active, IOTool roles can be assigned to “Super Admin”, “Agent” and “Business Unit Admin” type of user as well."
  }, {
    "name" : "SERVICES (DATA SOURCES)",
    "description" : "Services are the Data Sources that a client can connect to pull data into TapClicks; these also include all the resources that were created with the Smart Connector."
  }, {
    "name" : "USERS",
    "description" : "Users in the instance."
  }, {
    "name" : "EXAMPLES",
    "description" : "| Replace the the {id} in the URL with a service_id from the list of all <a href=\"#tag/SERVICES-(DATA-SOURCES)/paths/~1services{~1service_id}/get\">Services (Data Sources)</a> |  \n| --------------------------------------------------------------------------------------|   \n| **1. Get API version**                                                                | \n| https://api.tapclicks.com/v2/                                                         | \n| **2. Get metadata for the service**                                                   |\n| https://api.tapclicks.com/v2/services/{id}/data/cgn?metadata=1                        | \n| **3. Get services level data**                                                        | \n| https://api.tapclicks.com/v2/services/{id}                                            | \n| **4. Get campaign level data**                                                        | \n| https://api.tapclicks.com/v2/services/{id}/data/cgn                                   | \n| **5. Get campaign level data paginated**                                              | \n| https://api.tapclicks.com/v2/services/{id}/data/cgn?page=0,10                         | \n| **6. Get campaign level data paginated and grouped yearly**                           | \n| https://api.tapclicks.com/v2/services/{id}/data/cgn?page=0,10&timegrouping=yearly     | \n| **7. Get certain metrics only**                                                       | \n| https://api.tapclicks.com/v2/services/{id}/data/cgn?page=0,10&groupby=customer_id&fields=customer_id,CTR,AverageCPC,ClickCount&sort=customer_id                                 | \n"
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "tags" : [ "TAPCLICKS API" ],
        "summary" : "Welcome Message",
        "description" : "This call will simply return a \"Welcome to TAP API\" message",
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/clusters{/cluster_id}" : {
      "get" : {
        "tags" : [ "BUSINESS UNITS" ],
        "summary" : "Business Units",
        "description" : "Clusters are Business Units. This returns a specific Business Unit (*cluster_id*).\n\n**Note&#58;** if the path parameter *cluster_id* is omitted, this will return all the Business Units in the instance (in the response, the \"data\" field will be an array of cluster objects).",
        "parameters" : [ {
          "name" : "/cluster_id",
          "in" : "path",
          "description" : "Numeric Id of the cluster to get. If omitted, it will return all Business Units.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "metadata",
          "in" : "query",
          "description" : "The API will provide more or all the info for the available fields.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "https://api.tapclicks.com/v2/clusters/22?metadata=1"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The example will return the first five records. Please refer to <a href=\"#tag/PAGINATION\">Pagination</a> for more examples.\n\nThis will limit the number of rows in the fetch result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/clusters?page=0,5"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "This will filter the result data with the specific fields.\n\n**Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/clusters?fields=id,name"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Ascending by default; prefix **-** for descending.\n\nThis will alphabetically sort the results by name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/clusters?sort=name"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The API will provide a total number of records in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "http://api.tapclicks.com/v2/clusters?count=1"
        }, {
          "name" : "field_data_filter",
          "in" : "query",
          "description" : "This will filter the data that contains only specific values.\n\n\nTo remove items use **!** before the value.\n\n\nExample&#58; `\"https://api.tapclicks.com/v2/clusters?id=!12\"`<br>\nThis will return all clusters, except for the one with id = 12\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/clusters?id=10,11,12"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_clusters"
                },
                "example" : {
                  "data" : {
                    "id" : "1",
                    "name" : "West Coast Unit",
                    "has_light_logo" : false,
                    "has_dark_logo" : false,
                    "external_cluster_id" : "",
                    "is_cluster_group" : false,
                    "status" : "active",
                    "status_display" : "Active"
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "BUSINESS UNITS" ],
        "summary" : "Edit an existing Business Unit",
        "description" : "Clusters are Business Units. This edits an existing Business Unit.",
        "parameters" : [ {
          "name" : "/cluster_id",
          "in" : "path",
          "description" : "Numeric Id of the cluster to edit.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data, boundary=----WebKitFormBoundarySMGbXJtM7VSNs0Nu" : {
              "schema" : {
                "$ref" : "#/components/schemas/createCluster"
              },
              "examples" : {
                "0" : {
                  "value" : "------WebKitFormBoundarySMGbXJtM7VSNs0Nu\nContent-Disposition: form-data; name=\"model\"\n{\n  \"type\": \"group\",\n  \"name\": \"East Coast Unit\",\n  \"member_cluster_ids\": \"6,23\"\n}\n------WebKitFormBoundarySMGbXJtM7VSNs0Nu--         "
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_successful_post_delete"
                },
                "example" : {
                  "data" : {
                    "id" : "35"
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "BUSINESS UNITS" ],
        "summary" : "Delete a Business Unit",
        "description" : "Clusters are Business Units. This deletes a new Business Unit.",
        "parameters" : [ {
          "name" : "/cluster_id",
          "in" : "path",
          "description" : "Numeric Id of the cluster to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_successful_post_delete"
                },
                "example" : {
                  "data" : {
                    "id" : "51"
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/clusters" : {
      "post" : {
        "tags" : [ "BUSINESS UNITS" ],
        "summary" : "Create a Business Unit",
        "description" : "Clusters are Business Units. This creates a new Business Unit.",
        "requestBody" : {
          "content" : {
            "multipart/form-data, boundary=----WebKitFormBoundarySMGbXJtM7VSNs0Nu" : {
              "schema" : {
                "$ref" : "#/components/schemas/createCluster"
              },
              "examples" : {
                "0" : {
                  "value" : "------WebKitFormBoundarySMGbXJtM7VSNs0Nu\nContent-Disposition: form-data; name=\"model\"\n{\n  \"type\": \"single\",\n  \"name\": \"West Coast Unit\"\n}\n------WebKitFormBoundarySMGbXJtM7VSNs0Nu--  "
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_successful_post_delete"
                },
                "example" : {
                  "data" : {
                    "id" : "35"
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/categories{/category_id}" : {
      "get" : {
        "tags" : [ "CHANNELS" ],
        "summary" : "Channels",
        "description" : "Categories are Channels. This returns a specific category (*category_id*).\n\n**Note&#58;** if the path parameter *category_id* is omitted, this will return all the channels in the instance (in the response, the \"data\" field will be an array of category objects).",
        "parameters" : [ {
          "name" : "/category_id",
          "in" : "path",
          "description" : "Numeric Id of the category to get. If omitted, it will return all Channels.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "metadata",
          "in" : "query",
          "description" : "The API will provide more or all the info for the available fields.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "https://api.tapclicks.com/v2/categories?metadata=1"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "This will filter the result data with the specific fields.\n\n**Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/categories?fields=id,name"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Ascending by default; prefix **-** for descending.\n\nThis will alphabetically sort the results by name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/categories?sort=name"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The API will provide a total number of records in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "http://api.tapclicks.com/v2/categories?count=1"
        }, {
          "name" : "field_data_filter",
          "in" : "query",
          "description" : "This will filter the data that contains only specific values.\n\n\nTo remove items use **!** before the value.\n\n  \nExample&#58; `\"https://api.tapclicks.com/v2/categories?id=!12\"`<br>\nThis will return all channels, except for the one with id = 12\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/categories?name=Social%20Services,Display%20Services"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json;charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_categories"
                },
                "example" : {
                  "data" : {
                    "id" : "49",
                    "name" : "Custom Channel",
                    "service_ids" : {
                      "39" : {
                        "icon" : "facebookads",
                        "name" : "Facebook Ads",
                        "color" : "#234589",
                        "is_connected" : true
                      },
                      "100002" : {
                        "icon" : "custom-icon",
                        "name" : "Manually Uploaded",
                        "color" : "#234511",
                        "is_connected" : true
                      }
                    }
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/clients{/client_id}" : {
      "get" : {
        "tags" : [ "CLIENTS" ],
        "summary" : "Clients",
        "description" : "This returns a specific Client (*client_id*).\n\n**Note&#58;** if the path parameter *client_id* is omitted, this will return all the Clients in the instance (in the response, the \"data\" field will be an array of client objects).",
        "parameters" : [ {
          "name" : "/client_id",
          "in" : "path",
          "description" : "Numeric Id of the Client to get. Please refer to <a href=\"#tag/CLIENTS\">Clients</a> to obtain the correct Id\n\nIf omitted, it will return all Clients",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "metadata",
          "in" : "query",
          "description" : "The API will provide more or all the info for the available fields.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "https://api.tapclicks.com/v2/clients?metadata=1"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The example will return the first five records. Please refer to <a href=\"#tag/PAGINATION\">Pagination</a> for more examples.\n\nThis will limit the number of rows in the fetch result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/clients?page=0,5"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "This will filter the result data with the specific fields.\n\n**Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/clients?fields=id,company_name,last_name"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Ascending by default; prefix **-** for descending.\n\nThis will alphabetically sort the results by company name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/clients?sort=company_name"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The API will provide a total number of records in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "http://api.tapclicks.com/v2/clients?count=1"
        }, {
          "name" : "field_data_filter",
          "in" : "query",
          "description" : "This will filter the data that contains only specific values.\n\n\nTo remove items use **!** before the value.\n\n\nExample&#58; `\"https://api.tapclicks.com/v2/clients?id=!12\"`<br>\nThis will return all Clients, except for the one with id = 12\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/clients?company_name=JL%20Marketing"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_clients"
                },
                "example" : {
                  "data" : {
                    "id" : "1",
                    "company_name" : "JP Marketing",
                    "first_name" : "Jack",
                    "last_name" : "Smith",
                    "email" : "jsmith@JPmarketing.com",
                    "address_1" : "Rue Washington 66",
                    "address_2" : "",
                    "city" : "Minneapolis",
                    "state" : "Minnesota",
                    "zip" : "54201",
                    "country" : "",
                    "phone" : "",
                    "fax" : "",
                    "website" : "jpmark.com",
                    "has_light_logo" : false,
                    "has_dark_logo" : false,
                    "crm_id" : "",
                    "billing_id" : "",
                    "additional_details_1" : "",
                    "additional_details_2" : "",
                    "additional_details_3" : "",
                    "enable_lead_management_module" : false,
                    "created_by_user_id" : "1",
                    "created_by_user" : "jsmith@JPmarketing.com",
                    "report_language" : "",
                    "creation_time" : 1540478543,
                    "last_modification_time" : 1540478543,
                    "default_reporting_profile_id" : "1",
                    "reporting_status" : "active",
                    "iotool_status" : "presale",
                    "has_hipaa_data" : false,
                    "formatted_creation_time" : "Oct 25, 2018 1:15 PM",
                    "formatted_last_modification_time" : "Oct 25, 2018 1:15 PM",
                    "client_group_ids" : [ ],
                    "activate_tapleads" : false,
                    "reporting_status_display" : "active",
                    "iotool_status_display" : "presale"
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "CLIENTS" ],
        "summary" : "Edit existing Client",
        "description" : "This modifies the information of an existing Client.",
        "parameters" : [ {
          "name" : "/client_id",
          "in" : "path",
          "description" : "Numeric Id of the Client to get. Please refer to <a href=\"#tag/CLIENTS\">Clients</a> to obtain the correct Id",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data, boundary=----WebKitFormBoundarySMGbXJtM7VSNs0Nu" : {
              "schema" : {
                "$ref" : "#/components/schemas/createClient"
              },
              "examples" : {
                "0" : {
                  "value" : "------WebKitFormBoundarySMGbXJtM7VSNs0Nu\nContent-Disposition: form-data; name=\"model\"\n\n{\n\"company_name\": \"JP Marketing\",\n\"default_reporting_profile_id\": \"1\",\n\"reporting_status\": \"pending_mapping\",\n\"iotool_status\": \"presale\"\n}\n------WebKitFormBoundarySMGbXJtM7VSNs0Nu--"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_successful_post_delete"
                },
                "example" : {
                  "data" : {
                    "id" : "35"
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/clients" : {
      "post" : {
        "tags" : [ "CLIENTS" ],
        "summary" : "Create a new Client",
        "description" : "This creates a new Client.",
        "requestBody" : {
          "content" : {
            "multipart/form-data, boundary=----WebKitFormBoundarySMGbXJtM7VSNs0Nu" : {
              "schema" : {
                "$ref" : "#/components/schemas/createClient"
              },
              "examples" : {
                "0" : {
                  "value" : "------WebKitFormBoundarySMGbXJtM7VSNs0Nu\nContent-Disposition: form-data; name=\"model\"\n\n{\n\"company_name\": \"JP Marketing\",\n\"default_reporting_profile_id\": \"1\",\n\"reporting_status\": \"pending_mapping\",\n\"iotool_status\": \"presale\"\n}\n------WebKitFormBoundarySMGbXJtM7VSNs0Nu--"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_successful_post_delete"
                },
                "example" : {
                  "data" : {
                    "id" : "35"
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/clientcategories" : {
      "get" : {
        "tags" : [ "CLIENT'S CATEGORIES" ],
        "summary" : "All Client's categories",
        "description" : "This returns a list of all possible categories that can be assigned to a client.\n\nFor example&#58; Services, Automotive, Retailer, Restaurant...",
        "parameters" : [ {
          "name" : "metadata",
          "in" : "query",
          "description" : "The API will provide more or all the info for the available fields.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "https://api.tapclicks.com/v2/clientcategories?metadata=1"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Ascending by default; prefix **-** for descending.\n\nThis will alphabetically sort the results by name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/clientcategories?sort=name"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The API will provide a total number of records in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "http://api.tapclicks.com/v2/clientcategories?count=1"
        }, {
          "name" : "field_data_filter",
          "in" : "query",
          "description" : "This will filter the data that contains only specific values.\n\n\nTo remove items use **!** before the value.\n\n\nExample&#58; `\"https://api.tapclicks.com/v2/clientcategories?id=!12\"`<br>\nThis will return all Client categories, except for the one with id = 12\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/clientcategories?name=Automotive"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_clientcategories"
                },
                "example" : {
                  "data" : [ {
                    "id" : "1",
                    "name" : "General"
                  }, {
                    "id" : "2",
                    "name" : "Wholesale"
                  }, {
                    "id" : "3",
                    "name" : "Retailer"
                  }, {
                    "id" : "4",
                    "name" : "Restaurants"
                  }, {
                    "id" : "5",
                    "name" : "Auto Dealerships"
                  }, {
                    "id" : "6",
                    "name" : "Arts & Entertainment"
                  }, {
                    "id" : "7",
                    "name" : "Automotive"
                  }, {
                    "id" : "8",
                    "name" : "Beauty & Fitness"
                  }, {
                    "id" : "9",
                    "name" : "Community, Clubs & Organizations"
                  }, {
                    "id" : "10",
                    "name" : "Computers & Electronics"
                  }, {
                    "id" : "11",
                    "name" : "Education"
                  }, {
                    "id" : "12",
                    "name" : "Food & Dining"
                  }, {
                    "id" : "13",
                    "name" : "Health Care"
                  }, {
                    "id" : "14",
                    "name" : "Home & Garden"
                  }, {
                    "id" : "15",
                    "name" : "Real Estate & Rentals"
                  }, {
                    "id" : "16",
                    "name" : "Recreation & Sporting Goods"
                  }, {
                    "id" : "17",
                    "name" : "Travel & Accomodations"
                  }, {
                    "id" : "18",
                    "name" : "Services"
                  }, {
                    "id" : "20",
                    "name" : "Home Applicances"
                  }, {
                    "id" : "21",
                    "name" : "Agricultural"
                  } ],
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/clientgroups{/clientgroup_id}" : {
      "get" : {
        "tags" : [ "CLIENT GROUPS" ],
        "summary" : "Client Groups",
        "description" : "This returns a specific Group of Clients (*clientgroup_id*).\n\n**Note&#58;** if the path parameter *clientgroup_id* is omitted, this will return all the Groups of Clients in the instance (in the response, the \"data\" field will be an array of clientGroup objects).",
        "parameters" : [ {
          "name" : "/clientgroup_id",
          "in" : "path",
          "description" : "Numeric Id of the Group of Client to get. If omitted, it will return all Groups of Clients",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "metadata",
          "in" : "query",
          "description" : "The API will provide more or all the info for the available fields.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "https://api.tapclicks.com/v2/clientgroups/1?metadata=1"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The example will return the first five records. Please refer to <a href=\"#tag/PAGINATION\">Pagination</a> for more examples.\n\nThis will limit the number of rows in the fetch result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/clientgroups?page=0,5"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "This will filter the result data with the specific fields.\n\n**Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/clientgroups?fields=id,name"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Ascending by default; prefix **-** for descending.\n\nThis will alphabetically sort the results by name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/clientgroups?sort=name"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The API will provide a total number of records in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "http://api.tapclicks.com/v2/clientgroups?count=1"
        }, {
          "name" : "field_data_filter",
          "in" : "query",
          "description" : "This will filter the data that contains only specific values.\n\n\nTo remove items use **!** before the value.\n\n\nExample&#58; `\"https://api.tapclicks.com/v2/clientgroups?id=!12\"`<br>\nThis will return all Client Groups, except for the one with id = 12\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/clientgroups?id=10,15,16"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_clientgroups"
                },
                "example" : {
                  "data" : {
                    "id" : "1",
                    "name" : "Test Unit",
                    "group_type" : "group_of_clients",
                    "has_light_logo" : false,
                    "has_dark_logo" : false,
                    "created_at" : 1540404023,
                    "updated_at" : 1540404023,
                    "formatted_created_at" : "Oct 24, 2018 6:00 PM",
                    "formatted_updated_at" : "Oct 24, 2018 6:00 PM",
                    "client_ids" : [ "1" ]
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "CLIENT GROUPS" ],
        "summary" : "Edit an existing Client Group",
        "description" : "This edits an existing Client Group",
        "parameters" : [ {
          "name" : "/clientgroup_id",
          "in" : "path",
          "description" : "Numeric Id of the Group of Client to edit.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data, boundary=----WebKitFormBoundarySMGbXJtM7VSNs0Nu" : {
              "schema" : {
                "$ref" : "#/components/schemas/createClientGroup"
              },
              "examples" : {
                "0" : {
                  "value" : "------WebKitFormBoundarySMGbXJtM7VSNs0Nu\nContent-Disposition: form-data; name=\"model\"\n{\n  \"name\":\"Boston\",\n  \"type\":\"group_of_clients\",\n  \"cluster_id\":\"1\",\n  \"member_client_ids\":\"1,2,34\"\n}\n------WebKitFormBoundarySMGbXJtM7VSNs0Nu--         "
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_successful_post_delete"
                },
                "example" : {
                  "data" : {
                    "id" : "35"
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "CLIENT GROUPS" ],
        "summary" : "Delete a Client Group",
        "description" : "This deletes a Client Group",
        "parameters" : [ {
          "name" : "/clientgroup_id",
          "in" : "path",
          "description" : "Numeric Id of the Group of Client to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_successful_post_delete"
                },
                "example" : {
                  "data" : {
                    "id" : "35"
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/clientgroups" : {
      "post" : {
        "tags" : [ "CLIENT GROUPS" ],
        "summary" : "Create a Client Group",
        "description" : "This creates a new Client Group",
        "requestBody" : {
          "content" : {
            "multipart/form-data, boundary=----WebKitFormBoundarySMGbXJtM7VSNs0Nu" : {
              "schema" : {
                "$ref" : "#/components/schemas/createClientGroup"
              },
              "examples" : {
                "0" : {
                  "value" : "------WebKitFormBoundarySMGbXJtM7VSNs0Nu\nContent-Disposition: form-data; name=\"model\"\n{\n  \"name\":\"Boston\",\n  \"type\":\"group_of_client_groups\",\n  \"cluster_id\":\"1\",\n  \"member_client_group_ids\":\"77,81,10\"\n}\n------WebKitFormBoundarySMGbXJtM7VSNs0Nu--  "
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_successful_post_delete"
                },
                "example" : {
                  "data" : {
                    "id" : "35"
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/reportingprofiles{/profile_id}" : {
      "get" : {
        "tags" : [ "DATA PROFILES" ],
        "summary" : "Data Profiles",
        "description" : "This returns a specific Data Profile (*profile_id*).\n\n**Note&#58;** if the path parameter *profile_id* is omitted, this will return all the Data Profiles in the instance (in the response, the \"data\" field will be an array of dataProfile objects).",
        "parameters" : [ {
          "name" : "/profile_id",
          "in" : "path",
          "description" : "Numeric Id of the Data Profile to get. If omitted, it will return all Data Profiles",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "metadata",
          "in" : "query",
          "description" : "The API will provide more or all the info for the available fields.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "https://api.tapclicks.com/v2/reportingprofiles?metadata=1"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The example will return the first five records. Please refer to <a href=\"#tag/PAGINATION\">Pagination</a> for more examples.\n\nThis will limit the number of rows in the fetch result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/reportingprofiles?page=0,5"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "This will filter the result data with the specific fields.\n\n**Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/reportingprofiles?fields=id,name"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Ascending by default; prefix **-** for descending.\n\nThis will alphabetically sort the results by name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/reportingprofiles?sort=name"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The API will provide a total number of records in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "http://api.tapclicks.com/v2/reportingprofiles?count=1"
        }, {
          "name" : "field_data_filter",
          "in" : "query",
          "description" : "This will filter the data that contains only specific values.\n\n\nTo remove items use **!** before the value.\n\n\nExample&#58; `\"https://api.tapclicks.com/v2/reportingprofiles?id=!12\"`<br>\nThis will return all data profiles, except for the one with id = 12\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/reportingprofiles?name=Default%20Profile,Internal-Employee"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json;charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_dataprofiles"
                },
                "example" : {
                  "data" : {
                    "id" : "1",
                    "name" : "Default Profile",
                    "created_at" : 1378100067,
                    "updated_at" : 1435939300,
                    "enable_new_services_by_default" : true,
                    "enable_scores" : false,
                    "adwords_split_active" : false,
                    "hide_adwords_network" : false
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/columns/datatypes" : {
      "get" : {
        "tags" : [ "DATA TYPES" ],
        "summary" : "All data types",
        "description" : "This returns all the data types that are available for any field.",
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_datatypes"
                },
                "example" : {
                  "data" : [ {
                    "key" : "integer",
                    "value" : "Number",
                    "icon" : "#",
                    "is_selectable" : true,
                    "is_numeric" : true,
                    "precision" : 0
                  }, {
                    "key" : "decimal",
                    "value" : "Decimal",
                    "icon" : ".00",
                    "is_selectable" : true,
                    "is_numeric" : true,
                    "precision" : 2
                  }, {
                    "key" : "percent",
                    "value" : "Percent",
                    "icon" : "%",
                    "is_selectable" : true,
                    "is_numeric" : true,
                    "precision" : 2
                  }, {
                    "key" : "currency",
                    "value" : "Currency",
                    "icon" : "$",
                    "is_selectable" : true,
                    "is_numeric" : true,
                    "precision" : 2
                  }, {
                    "key" : "string",
                    "value" : "Text",
                    "icon" : "T",
                    "is_selectable" : true,
                    "is_numeric" : false,
                    "precision" : 0
                  }, {
                    "key" : "phonenumber",
                    "value" : "Phone Number",
                    "icon" : "icon-phone",
                    "is_selectable" : true,
                    "is_numeric" : false,
                    "precision" : 0
                  }, {
                    "key" : "callback",
                    "value" : "Text",
                    "icon" : "T",
                    "is_selectable" : false,
                    "is_numeric" : false,
                    "precision" : 0
                  }, {
                    "key" : "date",
                    "value" : "Date",
                    "icon" : "icon-calendar",
                    "is_selectable" : true,
                    "is_numeric" : false,
                    "precision" : 0
                  }, {
                    "key" : "time",
                    "value" : "Time",
                    "icon" : "icon-clock-o",
                    "is_selectable" : true,
                    "is_numeric" : true,
                    "precision" : 0
                  }, {
                    "key" : "link",
                    "value" : "Link",
                    "icon" : "icon-link",
                    "is_selectable" : true,
                    "is_numeric" : false,
                    "precision" : 0
                  }, {
                    "key" : "url",
                    "value" : "URL",
                    "icon" : "icon-link",
                    "is_selectable" : true,
                    "is_numeric" : false,
                    "precision" : 0
                  }, {
                    "key" : "image",
                    "value" : "Image",
                    "icon" : "icon-image",
                    "is_selectable" : true,
                    "is_numeric" : false,
                    "precision" : 0
                  }, {
                    "key" : "datetime",
                    "value" : "Date",
                    "icon" : "icon-calendar",
                    "is_selectable" : false,
                    "is_numeric" : false,
                    "precision" : 0
                  }, {
                    "key" : "id",
                    "value" : "Id",
                    "icon" : "ID",
                    "is_selectable" : false,
                    "is_numeric" : false,
                    "precision" : 0
                  }, {
                    "key" : "bool",
                    "value" : "Boolean",
                    "icon" : "icon-check",
                    "is_selectable" : false,
                    "is_numeric" : false,
                    "precision" : 0
                  } ],
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/daterange" : {
      "get" : {
        "tags" : [ "DATE RANGE" ],
        "summary" : "Date range",
        "description" : "This returns the current set date range.",
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_daterange"
                },
                "example" : {
                  "data" : {
                    "start" : 1541894432,
                    "end" : 1541894431,
                    "comparison_start" : 1541894432,
                    "comparison_end" : 1541894431
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/languages" : {
      "get" : {
        "tags" : [ "LANGUAGES" ],
        "summary" : "All supported languages",
        "description" : "This returns a list of all supported languages.",
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json;charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_languages"
                },
                "example" : {
                  "data" : [ {
                    "locale" : "en_US",
                    "name" : "English"
                  }, {
                    "locale" : "fr_CA",
                    "name" : "French"
                  }, {
                    "locale" : "hi_IN",
                    "name" : "Hindi"
                  }, {
                    "locale" : "id_ID",
                    "name" : "Indonesian"
                  }, {
                    "locale" : "es_ES",
                    "name" : "Spanish"
                  } ],
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/leads{/lead_id}" : {
      "get" : {
        "tags" : [ "LEADS" ],
        "summary" : "Leads",
        "description" : "This returns a specific lead (*lead_id*).\n\n**Note&#58;** if the path parameter *lead_id* is omitted, this will return a list of all the leads in the instance (in the response, the \"data\" field will be an array of lead objects).",
        "parameters" : [ {
          "name" : "/lead_id",
          "in" : "path",
          "description" : "Numeric Id of the lead to get. If omitted, it will return all leads",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "metadata",
          "in" : "query",
          "description" : "The API will provide more or all the info for the available fields.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "https://api.tapclicks.com/v2/leads/13?metadata=1"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The example will return the first five records. Please refer to <a href=\"#tag/PAGINATION\">Pagination</a> for more examples.\n\nThis will limit the number of rows in the fetch result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/leads?page=0,5"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "This will filter the result data with the specific fields.\n\n**Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/leads?fields=id,client_id,campaign_id"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Ascending by default; prefix **-** for descending.\n\nThis will alphabetically sort the results by name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/leads?sort=service_name"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The API will provide a total number of records in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "http://api.tapclicks.com/v2/leads?count=1"
        }, {
          "name" : "field_data_filter",
          "in" : "query",
          "description" : "This will filter the data that contains only specific values.\n\n\nTo remove items use **!** before the value.\n\n\nExample&#58; `\"https://api.tapclicks.com/v2/leads?id=!12\"`<br>\nThis will return all leads, except for the one with id = 12\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/leads?id=10,11,12"
        }, {
          "name" : "groupby",
          "in" : "query",
          "description" : "The results will be grouped based on the provided field",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/leads?groupby=client_id"
        }, {
          "name" : "timegrouping",
          "in" : "query",
          "description" : "The results will be grouped and narrowed within the specified timegroup",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/leads?timegrouping=yearly"
        }, {
          "name" : "aggregate",
          "in" : "query",
          "description" : "The results will be the aggregated value of each field",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "example" : "https://api.tapclicks.com/v2/leads?id=27&aggregate=true"
        }, {
          "name" : "row_grouping_count",
          "in" : "query",
          "description" : "Passing **row_grouping_count** along with the list of **fields** will provide grouped result and row count on each group (**groupby**)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/leads?groupby=campaign_id&fields=row_grouping_count"
        }, {
          "name" : "nested",
          "in" : "query",
          "description" : "Fetch grouped data that nested based on the groupby expression",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "https://api.tapclicks.com/v2/leads?groupby=campaign_name&nested=1"
        }, {
          "name" : "daterange",
          "in" : "query",
          "description" : "The example will return the leads with a timestamp for the month of December.\n\nThis filters the result between the given date range (YYYY-MM-DD).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/leads?&daterange=2018-12-01|2018-12-31"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_leads"
                },
                "example" : {
                  "data" : {
                    "lead_id" : "329312",
                    "client_id" : 409,
                    "campaign_id" : "51",
                    "campaign_name" : "Destination Carins Marketing",
                    "customer_number" : "5555550229",
                    "tracking_source" : "611555782855",
                    "call_was_recorded" : "<audio preload='none' controls><source src='portal.avanser.com/audio/555/65570421/in/rec.6900-2018-08-29-1033-115.wav' type='audio/wav'></audio>",
                    "timestamp" : 1545608100,
                    "third_party_id" : "50114777",
                    "is_overriden" : false,
                    "type" : "call",
                    "service_lead_id" : "91555",
                    "service_id" : "69",
                    "service_name" : "Call Tracking",
                    "visibility" : "Visible",
                    "state" : "NSW",
                    "client_name" : "Destination Mark",
                    "client_reporting_status" : "active",
                    "client_billing_id" : "",
                    "client_additional_details_1" : "",
                    "client_additional_details_2" : "",
                    "client_additional_details_3" : "",
                    "client_crm_id" : "",
                    "client_name_tag" : "No Tag",
                    "customer_number_tag" : "No Tag",
                    "customer_email_tag" : "No Tag",
                    "tracking_source_tag" : "No Tag",
                    "row_grouping_count" : "1",
                    "formatted_customer_number" : "555-555-0229",
                    "formatted_timestamp" : "Jan 11, 2017 12:00 AM",
                    "has_history" : false,
                    "visibility_display" : "Visible",
                    "tags" : [ ]
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_403"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/roles{/role_id}" : {
      "get" : {
        "tags" : [ "ROLES" ],
        "summary" : "User roles",
        "description" : "This returns a specific role (*role_id*) that can be assigned to a user.\n\n**Note&#58;** if the path parameter *role_id* is omitted, this will return a list of all the roles in the instance (in the response, the \"data\" field will be an array of role objects).",
        "parameters" : [ {
          "name" : "/role_id",
          "in" : "path",
          "description" : "Numeric Id of the role to get. If omitted, it will return all roles",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "metadata",
          "in" : "query",
          "description" : "The API will provide more or all the info for the available fields.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "https://api.tapclicks.com/v2/roles?metadata=1"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The example will return the first five records. Please refer to <a href=\"#tag/PAGINATION\">Pagination</a> for more examples.\n\nThis will limit the number of rows in the fetch result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/roles?page=0,5"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "This will filter the result data with the specific fields.\n\n**Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/roles?fields=id,name"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Ascending by default; prefix **-** for descending.\n\nThis will alphabetically sort the results by name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/roles?sort=name"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The API will provide a total number of records in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "http://api.tapclicks.com/v2/roles?count=1"
        }, {
          "name" : "field_data_filter",
          "in" : "query",
          "description" : "This will filter the data that contains only specific values.\n\n\nTo remove items use **!** before the value.\n\n\nExample&#58; `\"https://api.tapclicks.com/v2/roles?id=!12\"`<br>\nThis will return all roles, except for the one with id = 12\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/roles?name=Sales,Vendor"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json;charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_roles"
                },
                "example" : {
                  "data" : {
                    "id" : "2",
                    "name" : "Sales",
                    "role_type" : "io_tool",
                    "reporting_template_ids" : [ "1" ],
                    "manage_dashboard" : false,
                    "can_manage_alerts" : false
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/services{/service_id}" : {
      "get" : {
        "tags" : [ "SERVICES (DATA SOURCES)" ],
        "summary" : "Services",
        "description" : "This returns a specific service (*service_id*) in the instance. This can be helpful to find out if such is connected or not.\n\n**Note&#58;** if the path parameter *service_id* is omitted, this will return a list of all the services available in the instance, whether they're connected or not (in the response, the \"data\" field will be an array of service objects).",
        "parameters" : [ {
          "name" : "/service_id",
          "in" : "path",
          "description" : "Numeric Id of the service to get. If omitted, it will return all services",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "metadata",
          "in" : "query",
          "description" : "The API will provide more or all the info for the available fields.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "https://api.tapclicks.com/v2/services/108?metadata=1"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The example will return the first five records. Please refer to <a href=\"#tag/PAGINATION\">Pagination</a> for more examples.\n\nThis will limit the number of rows in the fetch result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/services?page=0,5"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "This will filter the result data with the specific fields.\n\n**Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/services?fields=id,name"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Ascending by default; prefix **-** for descending.\n\nThis will alphabetically sort the results by name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/services?sort=name"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The API will provide a total number of records in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "http://api.tapclicks.com/v2/services?count=1"
        }, {
          "name" : "field_data_filter",
          "in" : "query",
          "description" : "This will filter the data that contains only specific values.\n\n\nTo remove items use **!** before the value.\n\n\nExample&#58; `\"https://api.tapclicks.com/v2/services?id=!12\"`<br>\nThis will return all services, except for the one with id = 12\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/services?id=10,11,12"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok - Successful Operation",
            "content" : {
              "application/json;charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/response_200_services"
                },
                "example" : {
                  "data" : {
                    "service_id" : "44",
                    "name" : "Facebook Insights",
                    "original_name" : "Facebook Insights",
                    "datamodel" : "info/shoutletfbcgn",
                    "parsemodel" : "fetcher/vendor_facebook_insights_parser",
                    "api" : "1",
                    "use_id" : "0",
                    "use_oauth" : "1",
                    "label" : "",
                    "model" : "facebook",
                    "avg" : "0",
                    "trend" : "0",
                    "sort_order" : "0",
                    "active" : true,
                    "active_in_development" : true,
                    "active_in_production" : true,
                    "has_margin" : false,
                    "color" : "#4183c4",
                    "preferred" : "0",
                    "is_connected" : true,
                    "service_icon" : "facebook"
                  },
                  "error" : false,
                  "warnings" : [ ],
                  "status" : 200
                }
              }
            }
          },
          "400" : {
            "description" : "Error on client's side",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_400"
                }
              }
            }
          },
          "401" : {
            "description" : "Invalid access token",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_401"
                }
              }
            }
          },
          "404" : {
            "description" : "API Route not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/error_404"
                }
              }
            }
          }
        }
      }
    },
    "/services{/id}/data{/data_view_id}" : {
      "get" : {
        "tags" : [ "SERVICES (DATA SOURCES)" ],
        "summary" : "Data for a service",
        "description" : "This returns the data for a specific service. This API call should utilize as many query parameters as needed to obtain the specific data available for a certain data view.\n\nPlease refer to the <a href=\"#tag/EXAMPLES\">Examples</a> section for more specific use cases.\n\n**Note&#58;** the fields listed in the response example may differ depending on the service (data-source) the user is trying to pull the data from.",
        "parameters" : [ {
          "name" : "/id",
          "in" : "path",
          "description" : "Id of the service to get",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "/data_view_id",
          "in" : "path",
          "description" : "Data view id the column belongs to",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metadata",
          "in" : "query",
          "description" : "The API will provide more or all the info for the available fields.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "https://api.tapclicks.com/v2/services/34/data/cgn?metadata=1"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The example will return the first five records. Please refer to <a href=\"#tag/PAGINATION\">Pagination</a> for more examples.\n\nThis will limit the number of rows in the fetch result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/services/34/data/cgn?timegrouping=weekly&fields=log_date,ClickCount,ImpressionCount&page=0,5"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "This will filter the result data with the specific fields.\n\n**Note&#58;** when using this query parameter, other than the ones specified, more fields may be returned as well.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/services/34/data/cgn?timegrouping=weekly&fields=ClickCount,ImpressionCount"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Ascending by default; prefix **-** for descending.\n\nThis will alphabetically sort the results by Customer name.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/services/34/data/cgn?groupby=cust_id&fields=ClickCount,ImpressionCount&sort=cust_name"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The API will provide a total number of records in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
          "example" : "https://api.tapclicks.com/v2/services/34/data/cgn?groupby=cust_id&fields=ClickCount,ImpressionCount&sort=cust_name&count=1"
        }, {
          "name" : "field_data_filter",
          "in" : "query",
          "description" : "This will filter the data that contains only specific values.\n\n\nTo remove items use **!** before the value.\n\n\nExample&#58; `\"http://api.tapclicks.com/v2/services/34/data/cgn?fields=client_name,ClickCount,ImpressionCount&&customer_id=!921\"`<br>\nThis will return the selected fields from all Customers, except for the customer id = 921\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "http://api.tapclicks.com/v2/services/34/data/cgn?fields=client_name,ClickCount,ImpressionCount&&customer_id=12,13"
        }, {
          "name" : "groupby",
          "in" : "query",
          "description" : "The results will be grouped based on the provided field",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "http://api.tapclicks.com/v2/services/34/data/cgn?groupby=customer_id&fields=client_name,ClickCount,ImpressionCount"
        }, {
          "name" : "timegrouping",
          "in" : "query",
          "description" : "The results will be grouped and narrowed within the specified timegroup",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://api.tapclicks.com/v2/services/34/data/cgn?groupby=log_date&timegrouping=weekly&fields=log_date,ClickCount,Impression"
        }, {
          "name" : "aggregate",
          "in" : "query",
          "description" : "The results will be the aggregated value of each field",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "example" : "https://api.tapclicks.com/v2/services/34/data/cgn?timegrouping=weekly&fields=log_date,ClickCount,Impressions&aggregate=true"
        }, {
          "name" : "row_grouping_count",
          "in" : "query",
          "description" : "Passing **row_grouping_count** along with the list of **fields** will provide grouped result and row count on each group (**groupby**)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "https://services/34/data/cgn?groupby=customer_id&fields=ClickCount,ImpressionCount,row_grouping_count"
        }, {
          "name" : "nested",
          "in" : "query",
          "description" : "Fetch grouped data that nested based on the groupby expression",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "enum" : [ 0, 1 ]
          },
[...]
